<div fxLayout="column" fxLayoutAlign="space-between stretch" fxFill>
  <div>
    <h1>Quick Tutorial</h1>
    <h2>1. Take a photo of a dog</h2>
    <ul>
      <li>Take a photo of the dog filling the whole screen.</li>
      <li>Take a photo of the dog with other stuff in background.</li>
    </ul>

    <h2>2. Verify the results</h2>
    <ul>
      <li>Is the result correct?</li>
      <li>Do you get the same result after taking the same photo twice?</li>
      <li>Please use Apples Testflight Feedback channel :)</li>
    </ul>

    <h2>Technical info</h2>
    <pre>The current machine learning model has a 70% validation accuracy.</pre>
  </div>

  <ion-button (click)="close()">Close</ion-button>
</div>
